# Editor configuration: https://editorconfig.org

# Root EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# source files
[*.cs]
indent_style = space
indent_size = 4

# MSBuild project files
[*.{csproj,props,targets,xml,config,json}]
indent_style = space
indent_size = 2

# YAML / Dockerfiles
[*.{yml,yaml,Dockerfile}]
indent_style = space
indent_size = 2
